
.container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
}

.listing--title{
    color:red;
}

.info{
    text-align: left;
    vertical-align: middle;
}



.no-display{
    display: none;
}
.listing--image{
    display:block;
    max-width: 50%;
}
.img-block{
    border-radius: 1em;
    border:3px solid rgba(0, 0, 0, 0.1);
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.3);

}


.icon-font{
    padding-right:5%;
}
